#Navbar{
  display: flex;
  order: 2;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  background-color: #888684;
}
#but{
  border-style: none;
  font-size: 17px;
  background-color: #888684;
}
#but:hover{
  background-color: #6e6d6c;
}
.users{
  height: 100%;
  justify-content: space-around;
  align-items: center;
  order: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.grid{
  background-color: white;
  display: flex;
  width: 400px;
  height:400px;
  justify-content: center;
  margin: 20px;
  background-color: #9cd3db;
}
.grid:hover{
  background-color: #8cc5ce;
}
.gridimage{
  width:350px;
  height: 250px;
}
.gridimage:hover{
  background-color: #578a92;
}
.grid_inside{
  width:350px ;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
body{
  background-color: #9cd3db;
}
#spinner{
  display: flex;
  position: absolute;
  top: 100px;
  justify-content: center;
  left:50%;
}